@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./assets/fonts/Poppins-Regular.ttf);
}


@font-face {
    font-family: 'Rajdhani';
    src: url(./assets/fonts/Rajdhani-Light.ttf);
}


:root {
    width: 100%;
    height: 100%;
    --first-bg: linear-gradient(to right, #1abe61, #08997c);
    --second-bg: linear-gradient(to right, #f1c40f, #d35400);
    --third-bg: linear-gradient(to right, #e7eaec, #d1d3d3);
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    position: relative;
    max-width: 100%;
}

.card .front {
    width: 100%;
    height: 100%;
    background: var(--first-bg);
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0.2vw 0.2vh 0.5vh rgba(0, 0, 0, 0.342);
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-wrap: wrap;
    transition: 1s;
}

.card .front::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--second-bg);
    width: 100%;
    height: 50%;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 50%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.card .front::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--third-bg);
    width: 100%;
    height: 50%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.card .front .title {
    width: 80%;
    height: 70%;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 7vw;
    padding: 1vw 2vw;
    border: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 3px;
    backdrop-filter: hue-rotate(180deg);
    z-index: 2;
    flex-basis: 100%;

    margin: 5% 25% 15% 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card .front .year {
    text-align: center;
    font-family: 'Rajdhani';
    z-index: 2;
    font-weight: 900;
    font-size: 3vw;
    margin-top: -5%;
    margin-bottom: 10%;
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateY(180deg);
    transition: 1s;
    font-family: 'Poppins-Regular';
    text-align: center;
    font-weight: 900;
    font-size: 3em;
    border-radius: 4px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: var(--third-bg);
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 0.2vw 0.2vh 0.5vh rgba(0, 0, 0, 0.342);
}

@media only screen and (max-width: 600px) {
    .card .front .title {
        font-size: 17vw;
        padding: 2vw 5vw;
        padding-right: 6vw;
        /* margin-left: -1vw; */
    }
    
    .card .front .year {
        font-size: 6vw;
    }
}