@font-face {
    font-family: 'Floorlight';
    src: url(./assets/fonts/Floorlight.ttf);
}

@font-face {
    font-family: 'Handlee';
    src: url(./assets/fonts/Handlee-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./assets/fonts/MilleniaPersonalUse-w1OB8.ttf);
}


@font-face {
    font-family: 'Rajdhani';
    src: url(./assets/fonts/Rajdhani-Light.ttf);
}


:root {
    width: 100%;
    height: 100%;
    --pseudo-visibility: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    position: relative;
    max-width: 100%;
}

.card .front {
    /* animation: a 1s forwards; */
    width: 100%;
    height: 100%;

    background: rgb(52,159,23);
    background: linear-gradient(145deg, rgba(52,159,23,1) 0%, rgba(52,159,23,1) 19%, rgba(79,209,45,1) 28%, rgba(86,195,58,1) 37%, rgba(52,159,23,1) 43%, rgba(52,159,23,1) 53%, rgba(58,195,19,1) 69%, rgba(90,231,53,1) 74%, rgba(52,159,23,1) 100%);

    /* background: rgb(154,201,154);
    background: radial-gradient(circle, rgb(109, 177, 109) 0%, rgba(4,230,4,1) 50%, hsl(120, 97%, 27%) 100%); */
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0.3vw 0.3vh 0.5vh rgba(0, 0, 0, 0.342);
    overflow: hidden;
    flex-wrap: wrap;
    /* border: 0.5vw solid rgb(230, 230, 230); */
    /* border: 0.5vw solid rgb(230, 230, 230);
    border-right: none; */

    /* transition: 1s; */
    /* box-shadow: 0px 0px 0 rgb(-24,112,0),
    1px 1px 0 rgb(-49,87,0),
    2px 2px 0 rgb(-75,61,0),
    3px 3px  0 rgb(-101,35,0),
    4px 4px 3px rgba(0,0,0,0.55),
    4px 4px 1px rgba(0,0,0,0.5),
    0px 0px 3px rgba(0,0,0,.2); */

    text-shadow: 0px 0px 0 rgb(236,174,0),
    1px 1px 0 rgb(217,155,0),
    2px 2px 0 rgb(197,135,0),
    3px 3px 0 rgb(178,116,0),
    4px 4px  0 rgb(159,97,0),
    5px 5px 4px rgba(0,0,0,0.6),
    5px 5px 1px rgba(0,0,0,0.5),
    0px 0px 4px rgba(0,0,0,.2);
    position: relative;
    transform-origin: 0 0;
}

.card .front::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    border-radius: 4px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: linear-gradient(to left, #e7eaec, #969696);
    box-shadow: 0.2vw 0.2vh 0.5vh rgba(0, 0, 0, 0.342);
    visibility: var(--pseudo-visibility);
}

/* .card .front::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    mix-blend-mode: overlay;
    background: linear-gradient(145deg, rgba(52,159,23,1) 0%, rgba(52,159,23,1) 19%, rgba(79,209,45,1) 28%, rgba(86,195,58,1) 37%, rgba(52,159,23,1) 43%, rgba(52,159,23,1) 53%, rgba(58,195,19,1) 69%, rgba(90,231,53,1) 74%, rgba(52,159,23,1) 100%);
    opacity: 0.2;
} */

.card .front .title {
    width: 80%;
    height: 70%;
    text-align: center;
    font-family: 'Handlee';
    font-weight: 900;
    font-size: 7vw;
    padding: 1vw 2vw;
    border-radius: 3px;

    color: transparent;

    z-index: 2;
    flex-basis: 100%;

    margin: 5% 25% 15% 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card .front .year {
    text-align: center;
    /* font-family: 'Floorlight'; */
    z-index: 2;
    font-weight: 900;
    font-size: 3vw;
    margin-top: -5%;
    margin-bottom: 10%;
    color: #9c0aaf;
    text-shadow: 0px 0px 0 rgb(95,-15,109),
                 1px 1px 0 rgb(76,-34,90),
                 2px 2px 0 rgb(56,-54,70),
                 3px 3px 0 rgb(37,-73,51),
                 4px 4px  0 rgb(18,-92,32),
                 5px 5px 4px rgba(0,0,0,0.55),
                 5px 5px 1px rgba(0,0,0,0.5),
                 0px 0px 4px rgba(0,0,0,.2);
    /* color: transparent; */
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: 'Poppins-Regular';
    text-align: center;
    font-weight: 900;
    border-radius: 4px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: linear-gradient(to left, #eceef0, #b3b2b2);
    width: 99.9%;
    height: 100%;
    z-index: -1;
    box-shadow: 0.2vw 0.2vh 0.5vh rgba(0, 0, 0, 0.342);
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    padding: 3.5vw;
    color: #bd0707;
}

.card .back .text {
    font-size: 2vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card .back .text small {
    font-size: 1vw;
    display: flex;
    align-self: flex-end;
}


@media only screen and (max-width: 600px) {
    .card .front .title {
        font-size: 17vw;
        padding: 2vw 5vw;
        padding-right: 6vw;
        /* margin-left: -1vw; */
    }
    
    .card .front .year {
        font-size: 6vw;
    }

    .card .back .text {
        font-size: 4vw;
    }

    .card .back small {
        font-size: 2vw;
    }    
}